<p id="notice"><%= notice %></p>

<h1>Listing Hires</h1>

<table border="1" style="width:100%">
  <thead>
    <tr>
      <th>Pk date</th>
      <th>Re date</th>
      <th>Client</th>
      <th>Vehicle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hires.each do |hire| %>
      <tr>
        <td><%= hire.pk_date %></td>
        <td><%= hire.re_date %></td>
        <td><%= hire.client_id %></td>
        <td><%= hire.vehicle_id %></td>
        <td><%= link_to 'Show', hire %></td>
        <td><%= link_to 'Edit', edit_hire_path(hire) %></td>
        <td><%= link_to 'Destroy', hire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hire', new_hire_path %>
<%= link_to 'Client', controller: 'clients' %>

<%= link_to 'Vehicle', controller: 'vehicles' %>
<%= link_to 'Home' , controller: 'welcome' %>
